{{!-- Realm Properties Editor Template --}}
<div class="realm-properties">
  <header class="sheet-header">
    <h2>{{localize "REALMS_AND_REACHES.Properties.Title"}}</h2>
  </header>
  
  <form class="realm-form">
    {{!-- Realm Name --}}
    <div class="form-group">
      <label for="realm-name">{{localize "REALMS_AND_REACHES.Properties.Name"}}</label>
      <input type="text" id="realm-name" name="name" value="{{realm.name}}" placeholder="Enter realm name...">
    </div>
    
    {{!-- Tags Section --}}
    <div class="form-group">
      <label>{{localize "REALMS_AND_REACHES.Properties.Tags"}}</label>
      
      {{!-- Existing Tags --}}
      <div class="tag-list">
        {{#each realm.tags}}
          <div class="tag-item" data-tag="{{this}}">
            <span class="tag-text">{{this}}</span>
            <button type="button" class="tag-remove" data-tag="{{this}}" title="{{localize 'REALMS_AND_REACHES.Properties.RemoveTag'}}">
              <i class="fas fa-times"></i>
            </button>
          </div>
        {{/each}}
      </div>
      
      {{!-- Add New Tag --}}
      <div class="tag-input-group">
        <input type="text" id="new-tag" placeholder="key:value" list="tag-suggestions">
        <button type="button" id="add-tag" title="{{localize 'REALMS_AND_REACHES.Properties.AddTag'}}">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      
      {{!-- Tag Suggestions --}}
      <datalist id="tag-suggestions">
        <option value="biome:forest">
        <option value="biome:desert">
        <option value="biome:mountain">
        <option value="biome:swamp">
        <option value="terrain:dense">
        <option value="terrain:sparse">
        <option value="terrain:rocky">
        <option value="climate:temperate">
        <option value="climate:arctic">
        <option value="climate:tropical">
        <option value="travel_speed:0.5">
        <option value="travel_speed:0.75">
        <option value="travel_speed:1.0">
        <option value="travel_speed:1.25">
        <option value="resources:timber">
        <option value="resources:game">
        <option value="resources:minerals">
      </datalist>
    </div>
    
    {{!-- Action Buttons --}}
    <footer class="sheet-footer">
      <button type="button" class="save-realm">
        <i class="fas fa-save"></i>
        {{localize "REALMS_AND_REACHES.Properties.Save"}}
      </button>
      <button type="button" class="cancel-realm">
        <i class="fas fa-times"></i>
        {{localize "REALMS_AND_REACHES.Properties.Cancel"}}
      </button>
      {{#if realm.id}}
        <button type="button" class="delete-realm" data-realm-id="{{realm.id}}">
          <i class="fas fa-trash"></i>
          {{localize "REALMS_AND_REACHES.Properties.Delete"}}
        </button>
      {{/if}}
    </footer>
  </form>
</div>